name: ci-run

on:
  pull_request:
  push:
    branches: [main]

permissions:
  contents: read

concurrency:
  group: check-${{ github.ref }}
  cancel-in-progress: true

jobs:

  check-scripts:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install uv
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0

      - name: Install python dependencies
        run: uv python install

      # - name: Run scripts checks
      #   run: |
      #     python scripts/lint.py
      #     python scripts/type_check.py
      #     python scripts/test.py

  # Special job that allows some of the jobs to be skipped or failed
  # requiring others to be successful
  pr-checks:
    runs-on: ubuntu-latest
    if: always()
    needs:
      - check-scripts
      # TODO: fix GPU prover tests
      # - ethereum-prover-gpu-tests
    steps:
      - name: Decide on PR checks
        uses: re-actors/alls-green@05ac9388f0aebcb5727afa17fcccfecd6f8ec5fe # v1.2.2
        with:
          jobs: ${{ toJSON(needs) }}
