name: Check scripts

on:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read

concurrency:
  group: check-${{ github.ref }}
  cancel-in-progress: true

env:
  # To avoid uv warning about cache
  UV_LINK_MODE: copy
  WORKSPACE: "${{ github.workspace }}/workspace"
  VERBOSE: "false"

jobs:

  python-checks:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup runner
        uses: ./.github/actions/runner-setup

      - name: Check licenses
        run: uv run licensecheck --zero

      - name: Check formatting
        run: uv format --check

  check-server:
    runs-on: matterlabs-ci-runner-high-performance
    name: Server update (${{ matrix.protocol_version }})
    strategy:
      fail-fast: false
      matrix:
        include:
          - protocol_version: "v30.2"
            zksync_foundry_version: 'nightly-ae913af65381734ad46c044a9495b67310bc77c4'
            zksync_era_version: "zkstack-for-zksync-os"
            era_contracts_version: "zkos-v0.30.2"
            zksync_os_server_version: "main"
          - protocol_version: "v31.0"
            zksync_foundry_version: "v0.1.5"
            zksync_era_version: "draft-v31"
            era_contracts_version: "draft-v31"
            zksync_os_server_version: "main"
    steps:

      - name: Checkout repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup runner
        uses: ./.github/actions/runner-setup
        with:
          zksync_foundry_version: ${{ matrix.zksync_foundry_version }}

      - name: Checkout dependencies
        uses: ./.github/actions/checkout-deps
        with:
          zksync_era_version: ${{ matrix.zksync_era_version }}
          era_contracts_version: ${{ matrix.era_contracts_version }}
          zksync_os_server_version: ${{ matrix.zksync_os_server_version }}

      - name: Update server
        run: |
          REPO_DIR=${WORKSPACE}/zksync-os-server \
          ERA_CONTRACTS_PATH=${WORKSPACE}/era-contracts \
          ZKSYNC_ERA_PATH=${WORKSPACE}/zksync-era \
          PROTOCOL_VERSION="${{ matrix.protocol_version}}" \
            uv run -m scripts.update_server

  check-vk:
    runs-on: matterlabs-ci-runner-high-performance
    strategy:
      fail-fast: false
      matrix:
        include:
          - protocol_version: "v30.2"
            zksync_foundry_version: "nightly-ae913af65381734ad46c044a9495b67310bc77c4"
            era_contracts_version: "zkos-v0.30.2"
          - protocol_version: "v31.0"
            zksync_foundry_version: "v0.1.5"
            era_contracts_version: "draft-v31"
    env:
      ZKSYNC_OS_TEST_TAG: v0.2.5
    steps:

      - name: Checkout repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup runner
        uses: ./.github/actions/runner-setup
        with:
          zksync_foundry_version: ${{ matrix.zksync_foundry_version }}

      - name: Checkout dependencies
        uses: ./.github/actions/checkout-deps
        with:
          zkos_wrapper_version: "main"
          era_contracts_version: ${{ matrix.era_contracts_version }}

      - name: Update vk
        run: |
          REPO_DIR=${WORKSPACE}/era-contracts \
          ZKOS_WRAPPER_PATH=${WORKSPACE}/zkos-wrapper \
          ZKSYNC_OS_TAG="${ZKSYNC_OS_TEST_TAG}" \
            uv run -m scripts.update_vk


  # Special job that allows some of the jobs to be skipped or failed
  # requiring others to be successful
  pr-checks:
    runs-on: ubuntu-latest
    if: always()
    needs:
      - python-checks
      - check-server
      - check-vk
    steps:
      - name: Decide on PR checks
        uses: re-actors/alls-green@05ac9388f0aebcb5727afa17fcccfecd6f8ec5fe # v1.2.2
        with:
          jobs: ${{ toJSON(needs) }}
