name: Check scripts

on:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read

concurrency:
  group: check-${{ github.ref }}
  cancel-in-progress: true

jobs:

  check-zkos-wrapper:
    runs-on: matterlabs-ci-runner-high-performance
    steps:

      - name: Checkout scripts
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install uv
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0

      - name: Install python dependencies
        run: uv python install

      - name: Checkout zkos-wrapper
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          repository: matter-labs/zkos-wrapper
          path: zkos-wrapper

      - name: Checkout zksync-airbender
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          repository: matter-labs/zksync-airbender
          path: zksync-airbender

      - name: Update wrapper
        run: |
          REPO_DIR=${WORKSPACE}/zkos-wrapper \
          ZKSYNC_AIRBENDER_PATH=${WORKSPACE}/zksync-airbender \
          uv run -m scripts.update_wrapper


  # Special job that allows some of the jobs to be skipped or failed
  # requiring others to be successful
  pr-checks:
    runs-on: ubuntu-latest
    if: always()
    needs:
      - check-zkos-wrapper
    steps:
      - name: Decide on PR checks
        uses: re-actors/alls-green@05ac9388f0aebcb5727afa17fcccfecd6f8ec5fe # v1.2.2
        with:
          jobs: ${{ toJSON(needs) }}
