name: Check scripts

on:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read

concurrency:
  group: check-${{ github.ref }}
  cancel-in-progress: true

env:
  # To avoid uv warning about cache
  UV_LINK_MODE: copy
  WORKSPACE: "${{ github.workspace }}/workspace"
  VERBOSE: "true"

jobs:

  # General python checks
  python-checks:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup runner
        uses: ./.github/actions/runner-setup

      - name: Check licenses
        run: uv run licensecheck --zero

      - name: Check formatting
        run: uv format --check


  # Check server update script
  check-server:
    uses: ./.github/workflows/update-server.yaml
    strategy:
      fail-fast: false
      matrix:
        include:
          - protocol_version: "v30.2"
            zksync_server_branch: "main"
          - protocol_version: "v31.0"
            zksync_server_branch: "main"
    with:
      protocol_version: "${{ matrix.protocol_version }}"
      zksync_server_branch: "${{ matrix.zksync_server_branch }}"
    secrets: inherit


  # Check verification keys update script
  check-vk:
    uses: ./.github/workflows/update-vk.yaml
    strategy:
      fail-fast: false
      matrix:
        include:
          - protocol_version: "v30.2"
            zksync_os_tag: "v0.2.5"
          - protocol_version: "v31.0"
            zksync_os_tag: "v0.2.5"
    with:
      protocol_version: "${{ matrix.protocol_version }}"
      zksync_os_tag: "${{ matrix.zksync_os_tag }}"
    secrets: inherit


  # Special job that allows some of the jobs to be skipped or failed
  # requiring others to be successful
  pr-checks:
    runs-on: ubuntu-latest
    if: always()
    needs:
      - python-checks
      - check-server
      - check-vk
    steps:
      - name: Decide on PR checks
        uses: re-actors/alls-green@05ac9388f0aebcb5727afa17fcccfecd6f8ec5fe # v1.2.2
        with:
          jobs: ${{ toJSON(needs) }}
